@model IEnumerable<scg_clinicasur.Models.Contabilidad>

@{
    ViewData["Title"] = "Historial de Ingresos y Gastos";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tipo</th>
            <th>Concepto</th>
            <th>Monto (₡)</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>CON-@item.IdContabilidad</td>
                <td>@item.Tipo</td>
                <td>@item.Concepto</td>
                <td>@item.Monto</td>
                <td>@item.FechaRegistro.ToString("yyyy-MM-dd")</td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" href="@Url.Action("AgregarEntrada")">Agregar Ingreso</a>
<a class="btn btn-primary" href="@Url.Action("RegistrarSalida")">Registrar Gasto</a>>
<a class="btn btn-primary" href="@Url.Action("ReporteMensual", "Contabilidad")"Generar Reporte Mensual</a>