@model IEnumerable<scg_clinicasur.Models.Usuario>

@{
    ViewData["Title"] = "Listado de Usuarios";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <h1>@ViewData["Title"]</h1>
        <nav>
            <div class="header-buttons">
                <a asp-action="Crear" class="button">Crear Usuario</a>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Filtrar por Rol
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkDoctor">
                                <label class="form-check-label" for="checkDoctor">
                                    Doctor
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkAsistenteMedico">
                                <label class="form-check-label" for="checkAsistenteMedico">
                                    Asistente Médico
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkAsistenteLimpieza">
                                <label class="form-check-label" for="checkAsistenteLimpieza">
                                    Asistente de Limpieza
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkPaciente">
                                <label class="form-check-label" for="checkPaciente">
                                    Paciente
                                </label>
                            </div>
                        </li>
                        <li><hr class="dropdown-divider"></li> <!-- Línea divisoria -->
                        <li>
                            <button class="btn btn-secondary w-100" id="confirmFilter">Confirmar</button>
                        </li>
                        <li>
                            <button class="btn btn-secondary w-100" id="resetFilter">Resetear Filtro</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Rol</th>
                    <th>Fecha de Registro</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in Model)
                {
                    <tr>
                        <td>@usuario.nombre @usuario.apellido</td>
                        <td>@usuario.correo</td>
                        <td>@usuario.telefono</td>
                        <td>@usuario.roles.nombre_rol</td>
                        <td>@usuario.fecha_registro.ToString("dd/MM/yyyy")</td>
                        <td>
                            <a asp-action="Editar" asp-route-id="@usuario.id_usuario" class="button">Editar</a>
                            <a asp-action="Eliminar" asp-route-id="@usuario.id_usuario" class="button">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </main>
</body>
</html>