@model scg_clinicasur.Models.Evaluacion

<h1>Detalles de la Evaluación</h1>

<div>
    <strong>Nombre:</strong> @Model.nombre
</div>
<div>
    <strong>Descripción:</strong> @Model.descripcion
</div>
<div>
    <strong>Tiempo de Prueba:</strong> @Model.tiempo_prueba
</div>
<div>
    <strong>Archivo:</strong>
    @if (!string.IsNullOrEmpty(Model.archivo))
    {
        <a href="@Model.archivo" target="_blank">Ver Archivo</a>
    }
    else
    {
        <span>No hay archivo asociado</span>
    }
</div>
<div>
    <strong>Capacitación:</strong> @Model.Capacitacion.titulo
</div>
<div>
    <strong>Usuario:</strong> @Model.Usuario.nombre
</div>
<div>
    <strong>Fecha de Creación:</strong> @Model.fecha_creacion
</div>

<a href="@Url.Action("Index")" class="btn btn-secondary">Volver a la lista</a>
