@model IEnumerable<scg_clinicasur.Models.Evaluacion>
@{
    ViewData["Title"] = "Gestión de Evaluaciones";
}

<h1>@ViewData["Title"]</h1>
<a asp-action="Crear" class="btn btn-primary">Nueva Evaluación</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Tiempo de Prueba</th>
            <th>Archivo</th>
            <th>Usuario</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.nombre</td>
                <td>@item.descripcion</td>
                <td>@item.tiempo_prueba</td>
                <td>@item.archivo</td>
                <td>@item.Usuario.nombre @item.Usuario.apellido </td>
                <td>
                    <a asp-action="Detalles" asp-route-id="@item.id_evaluacion" class="btn btn-info">Detalles</a>
                    <a asp-action="Editar" asp-route-id="@item.id_evaluacion" class="btn btn-warning">Editar</a>
                    <a asp-action="Eliminar" asp-route-id="@item.id_evaluacion" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>