@model IEnumerable<scg_clinicasur.Models.Evaluacion>

<h1>Evaluaciones</h1>

<p>
    <a href="@Url.Action("Crear")" class="btn btn-primary">Crear Nueva Evaluación</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Tiempo de Prueba</th>
            <th>Capacitación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var evaluacion in Model)
        {
            <tr>
                <td>@evaluacion.nombre</td>
                <td>@evaluacion.descripcion</td>
                <td>@evaluacion.tiempo_prueba</td>
                <td>@evaluacion.Capacitacion.titulo</td>

                <td>
                    <a href="@Url.Action("Detalles", new { id = evaluacion.id_evaluacion })" class="btn btn-info">Detalles</a>
                    <a href="@Url.Action("Editar", new { id = evaluacion.id_evaluacion })" class="btn btn-warning">Editar</a>
                    <a href="@Url.Action("Eliminar", new { id = evaluacion.id_evaluacion })" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que quieres eliminar esta evaluación?')">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
